@media screen and (max-width:1024px){
    header{
        .cd-logo{
            img{
                width:50%;
                height:50%;
            }
        }
    }
    .cycle-conteneur{
        .slide-item{
            .text-conteneur{
                h2{
                    font-size:48px;
                }
                .bouton-blanc-slider{
                    width:50%;
                }
            }
        }
    }
    .section-padding{
        padding-top:50px;
        padding-bottom:50px;
        h2{
            line-height:1.1;
        }
    }
    .main-conteneur{
        .section-agence{
            padding-left:15px;
            padding-right:15px;
            .block-visu-agence{
                .puce-logo{
                    display:none;
                }
                .bouton-bleu-agence-projet{
                    margin-left:0px;
                }
                .bouton-bleu-agence-contact{
                    margin-right:0px;
                }
            }
        }
        .section-projet{
            padding-left:15px;
            padding-right:15px;
            .hover-projet{
                .a-hover{
                    display:none;
                }
            }
        }
        .section-contact{
            padding-left:15px;
            padding-right:15px;
        }
    }
    .article-portfolio{
        padding-left:15px;
        padding-right:15px;
        .image-conteneur{
            .site-projet{
                width:100%!important;
            }
            .retour-projet{
                width:100%!important;
            }

        }

    }
    .foot-plaitil{
        padding-left:15px;
        padding-right:15px;
        .block-text-mention{
            a{
                padding-top:30px;
                text-align:center;
            }
        }
        .block-text-adresse{
            padding-top:30px;
            a{
                text-align:center;
            }
        }
        .block-text-reseaux{
            padding-top:30px;
            margin:0 auto;
            text-align:center;
        }
    }


}
